body{
    background-image: url("final-fantasy-7.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.greeting{
    text-align: center;
    color: darkred;
}
h2{
    text-align: center;
    color: darkred;
}

button{
    border-radius: 10%;
    color: whitesmoke;
    background-color: rgb(3, 149, 118); 
    width: 15%;
    padding: 2%;
    margin-top: 10px;
    margin-left: 10px;
}
.input{
    position: relative;
    width: 50%;
    top: 50%;
    left: 40%;
}